<div class="container">
  <% @recipes.each do |recipe| %>
      <div class="media-object stack-for-small">
        <div class="media-object-section">
          <div class="thumbnail">
            <%= image_tag recipe.avatar.url(:medium) %>
          </div>
        </div>
        <div class="media-object-section">
          <h4><%= link_to recipe.title, recipe_path(recipe) %></h4>
          <p><%= link_to recipe.description, recipe_path(recipe) %></p>
        </div>
        <% if user_signed_in? && current_user == recipe.user %>
          <div class="buttons">
            <row>
              <%= link_to "Edit Recipe", edit_recipe_path(recipe[:id]), class: "warning button" %>
              <%= link_to "Delete recipe", recipe, method: :delete, data: {confirm: "Are you sure?"}, class: "alert button" %>
            </row>
          </div>
        <% end %>
      </div>
  <% end %>
</div>