<div class="container">
  <div class="content">
    <div class="title-description-show">
      <div class="row">
        <div class="small-5 columns">
          <%= image_tag @recipe.avatar.url(:medium) %>
        </div>
        <div class="small-7 columns">
          <div class="recipe-title-show">
            <h3><%= @recipe.title %></h3>
            <p><%= @recipe.description %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="content">
    <row>
      <div class="small-6 columns">
        <h3>Ingredients:</h3>
        <% @recipe.ingredients.each do |ingredient| %>
          <ul>
            <li><%= ingredient.name %></li>
          </ul>
        <% end %>
      </div>
      <div class="small-6 columns">
        <h3>Directions:</h3>
        <% @recipe.directions.each do |direction| %>
          <ul>
            <li><%= direction.step %></li>
          </ul>
        <% end %>
      </div>
    </row>
  </div>
  <% if user_signed_in? && current_user == @recipe.user %>
    <div class="buttons">
      <row>
        <%= link_to "Edit Recipe", edit_recipe_path, class: "warning button" %>
        <%= link_to "Delete recipe", @recipe, method: :delete, data: {confirm: "Are you sure?"}, class: "alert button" %>
      </row>
    </div>
  <% end %>
</div>